#MainMenu {
visibility: hidden;
height: 0%;
}
footer {
visibility: hidden;
height: 0%;
}
[class*="bkg_image_bern"]{
    background-image: url("https://kursaal-bern.ch/fileadmin/inhalte/Bilder/Ueber_Uns/Stories/Das-Perfekte-Wochenende-in-Bern/Kursaal-Bern_Ueber-Uns_Stories_Das-Perfekte-Wochenende-in-Bern_Zytglogge.jpg");
    background-size: 100%; 
    background-position-x: center;
    background-position-y: 60%;
    background-color: rgba(255, 255, 255, 0.93);
    background-blend-mode: lighten;
} 

@media (prefers-color-scheme: dark){
    [class*="bkg_image_bern"]{
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: darken;
    } 
}

[class*="finished_lesson"]{
    background: #2c9b2a;
    background: linear-gradient(90deg, rgba(44, 155, 42, 0.21) 0%, rgba(66, 189, 57, 0.41) 46%, rgba(83, 237, 147, 0.25) 100%);
}

[class*="section_finish"]{
    background: #69ffed;
    background: linear-gradient(153deg, rgba(105, 255, 237, 0.15) 0%, rgba(57, 127, 189, 0.12) 46%, rgba(145, 16, 104, 0.12) 100%);
}

[class*="selected_match"]{
    background: #9b8c2a;
    background: linear-gradient(153deg, rgba(155, 140, 42, 0.08) 0%, rgba(189, 189, 57, 0.15) 46%, rgba(219, 237, 83, 0.08) 100%);
}

[class*="sound_fx"]{
    display: none
}

[data-testid='stHeaderActionElements'] {
    display: none;
}

[class*="sidebar_bottom"] {
        position: sticky;
        bottom: 5px;
    }


@keyframes myAnimation {
  from {background-color: 	rgba(102, 255, 102, .6);}
  to {background-color: white;}
}

@media (prefers-color-scheme: dark){
    @keyframes myAnimation {
        from {background-color: 	rgba(102, 255, 102, .6);}
        to {background-color: black;}
      }
}

[class*="order_button_sel"]{
    animation-name: myAnimation;
    animation-duration: 1s;
}